<?xml version="1.0"?>
<!--
/**
 * Magebit_BlogIndexer
 *
 * @category  Magebit
 * @package   Magebit_BlogIndexer
 * @author    Emils Malovka <emils.malovka@magebit.com>
 * @copyright 2020 [Magebit, Ltd.(http://www.magebit.com/)]
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magebit\BlogIndexer\Indexer\CmsBlogIndexerHandlerVirtual"
                 type="Divante\VsbridgeIndexerCore\Indexer\GenericIndexerHandler">
        <arguments>
            <argument name="indexIdentifier" xsi:type="string">vue_storefront_catalog</argument>
            <argument name="typeName" xsi:type="string">cms_blog</argument>
        </arguments>
    </virtualType>
    <type name="Magebit\BlogIndexer\Model\Indexer\CmsBlog">
        <arguments>
            <argument name="indexerHandler" xsi:type="object">Magebit\BlogIndexer\Indexer\CmsBlogIndexerHandlerVirtual</argument>
        </arguments>
    </type>

    <virtualType name="Magebit\BlogIndexer\Indexer\CmsBlogCategoryIndexerHandlerVirtual"
                 type="Divante\VsbridgeIndexerCore\Indexer\GenericIndexerHandler">
        <arguments>
            <argument name="indexIdentifier" xsi:type="string">vue_storefront_catalog</argument>
            <argument name="typeName" xsi:type="string">cms_blog_category</argument>
        </arguments>
    </virtualType>
    <type name="Magebit\BlogIndexer\Model\Indexer\CmsBlogCategory">
        <arguments>
            <argument name="indexerHandler" xsi:type="object">Magebit\BlogIndexer\Indexer\CmsBlogCategoryIndexerHandlerVirtual</argument>
        </arguments>
    </type>
    <type name="Aheadworks\Blog\Model\Category">
        <plugin name="update_blog_category_data_in_elastic" type="Magebit\BlogIndexer\Plugin\Indexer\Save\UpdateCategory"/>
    </type>
    <type name="Aheadworks\Blog\Model\Post">
        <plugin name="update_blog_post_data_in_elastic" type="Magebit\BlogIndexer\Plugin\Indexer\Save\UpdatePost"/>
    </type>
    <type name="Aheadworks\Blog\Model\Author">
        <plugin name="update_blog_author_data_in_elastic" type="Magebit\BlogIndexer\Plugin\Indexer\Save\UpdateAuthor"/>
    </type>
</config>
